.small-badge{
  display: inline-block;
  border: 1px solid #777;
  font-size: 9px;
  color:#DDD;
  background:#444;
  cursor:pointer;
}
.small-badge{
  color:#EEE;
  background:#777;
  border: 1px solid #888;
}